@* @model BTL_NET2.Models.Register

    @{
    ViewData["Title"] = "Details";
    }

    <h1>Details</h1>

    <div>
    <h4>Register</h4>
    <hr />
    <dl class="row">
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.RegisterName)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.RegisterName)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.RegisterMK)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.RegisterMK)
    </dd>
    </dl>
    </div>
    <div>
    <a asp-action="Edit" asp-route-id="@Model?.RegisterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    </div> *@
